In [3]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame(
    np.random.randn(10, 2),
    index=pd.date_range('1/1/2020', periods=10),
    columns=["AAPL", "GOOG"])
daily_returns.head()

                AAPL      GOOG
2020-01-01  0.089553  0.324318
2020-01-02 -0.087832 -0.120940
2020-01-03 -0.412761  0.249606
2020-01-04  1.006234 -1.142512
2020-01-05  2.735417 -0.025705

In [4]:
# Select the first three rows and the first column
daily_returns.iloc[0:3, 0]

2020-01-01    0.089553
2020-01-02   -0.087832
2020-01-03   -0.412761
Freq: D, Name: AAPL, dtype: float64

In [6]:
# Select all rows for the "GOOG" column
google_returns = daily_returns.loc[:, "GOOG"]
google_returns.tail()

2020-01-06   -1.420042
2020-01-07    1.033376
2020-01-08   -0.307174
2020-01-09   -1.212513
2020-01-10    0.027270
Freq: D, Name: GOOG, dtype: float64

In [ ]:
# The tail, or the last five rows, of the new google_returns DataFrame display, as the following image shows:

In [ ]:
# Note the trick that we used: to select all the rows, we used a colon (:) for the rows position. 
# The same rule applies to columns. When we add a colon without a start or end position, 
# it tells Pandas to grab everything.

# In the next activity, you’ll return to the government yields scenario from the previous activity. 
# But this time, you’ll select both the rows and the columns of data that you need for your analysis.
# - spot