In [1]:
import pandas as pd

In [8]:
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1]})

# Select the first row using iloc
aapl_returns.iloc[0]

AAPL    0.5
Name: 0, dtype: float64

In [9]:
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1, 0.75, 0.47]})
aapl_returns.iloc[0:3]

   AAPL
0  0.50
1  0.56
2  0.59

In [ ]:
#example:
# The loc function resembles iloc, but we supply the index labels of just the dates we need. For example, the following code selects the 
# range of dates from October 1, 2018 to March 31, 2019â€”the last quarter of 2018 through the first quarter of 2019: