In [ ]:
#Dirty Data

In [1]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"] #no Dollar sign
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [5]:
prices.dtypes # "Using the dtypes function, 
# we can confirm the data type that Pandas assigns to 
# the elements in the DataFrame that have a currency symbol. 
# The code is as follows:"-spot

price_usd    object
dtype: object

In [6]:
# For this step, we should replace the string only in the column we want to fix—by using loc or iloc to specify that column. 
# In our example, we have only one column (prices_usd), but as a best practice, we’ll still use loc or iloc.
# the following code replaces the dollar signs with empty strings:
# -spot

In [3]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")
prices

/Users/rodvilla/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

  price_usd
0      0.53
1      0.22
2      0.34

In [4]:
prices.dtypes

price_usd    object
dtype: object

In [7]:
#"Because financial datasets often deal with currencies or prices, 
# the float tends to be the numerical type of choice. So, 
# let’s use astype to convert our price data to floating-point numbers. Look at the following code, 
# and note that we specify the column we want to convert by using loc:

In [8]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].astype("float")
prices.dtypes

price_usd    float64
dtype: object