In [1]:
### Use Conditional Statements
# Now you know how to filter rows and columns by using Boolean values. 
# But can you imagine writing a Boolean filter for 1 million rows of data? No thanks!

# For a task of this size, we can use a different technique. 
# With Pandas, we can create Boolean filters from conditional statements by using the values of a DataFrame.
# - Spot

In [ ]:
# Suppose that you’re given a DataFrame containing 20 return values for Apple stock. 
# You’re asked to provide only those data points that have positive returns, 
# meaning those that are greater than zero. 
# To get this information, you can use the conditional statement that’s the last line in the following code: 
# -spot

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a returns DataFrame for Apple
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(10) + 1}) #⭐️#NOTE: results are randomly generated!⭐️

# Create the conditional statement
# The condition evaluates True if the aapl_returns[''] are greater than 0
# The condition evaluates False otherwise
aapl_returns["AAPL"] > 0

0     True
1    False
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
Name: AAPL, dtype: bool

In [4]:
# The key takeaway is that the code labeled all DataFrame values that are less than zero as False— spot

In [5]:
# keeping the positive and dropping the negative values.
boolean_filter = aapl_returns["AAPL"] > 0

aapl_returns.loc[boolean_filter]

       AAPL
0  0.506220
2  0.185556
3  1.798273
4  1.237527
5  1.544334
7  0.207565
8  0.865988
9  0.097951

In [6]:
filter_low = aapl_returns["AAPL"] > 0 #use a descriptive variable to identify the original conditional statement, which filters out negative return values. 
aapl_returns.loc[filter_low]

filter_high = aapl_returns["AAPL"] <= 2#use a variable to identify the conditional statement that removes the return values that are greater than 2%. 
aapl_returns.loc[filter_high]

       AAPL
0  0.506220
1 -0.006887
2  0.185556
3  1.798273
4  1.237527
5  1.544334
6 -0.203239
7  0.207565
8  0.865988
9  0.097951

In [7]:
filter_low = aapl_returns["AAPL"] > 0
filter_high = aapl_returns["AAPL"] <= 2
aapl_returns.loc[filter_low & filter_high] # The `&` operator combines the first and second filters.

       AAPL
0  0.506220
2  0.185556
3  1.798273
4  1.237527
5  1.544334
7  0.207565
8  0.865988
9  0.097951