In [3]:
import pandas as pd
import numpy as np

In [ ]:
# Construct the Boolean filter so that the code eliminates GOOG from the DataFrame.

In [4]:
daily_returns = pd.DataFrame({
    'AAPL': np.random.randn(5),
    'GOOG': np.random.randn(5),
    'MSFT': np.random.randn(5),
})
daily_returns
boolean_filter = [True, False, True]
daily_returns.loc[:, boolean_filter]

       AAPL      MSFT
0  0.484309 -0.319181
1  0.165568 -0.537588
2  0.513208 -0.655551
3 -0.309639 -0.188064
4 -0.781549 -0.543530