In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# csvpath = Path("../Resources/items.csv")

In [3]:
items_csv = Path("./Resources/items.csv")

In [4]:
item_df = pd.read_csv(items_csv)
item_df.head()

   Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350

In [5]:
item_df.isnull()

   Item Number  Price   Quantity
0        False   False     False
1        False    True     False
2        False   False     False

In [6]:
# item_df.insull().sum()
item_df.isnull().sum()

Item Number    0
Price          1
Quantity       0
dtype: int64

In [8]:
# This is for a larger data set.

# items.expanded_df.isnull().mean()